#mainmenu {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#burrito {
  float: left;
  margin: 5px;
}
